:root {
    --primary-text-color: #757575;
    --secondary-color: #212121;
    --hower-color: #2196f3;
    --logo-color: #000000;
    --primary-bg-color: #ffffff;
    --bg-color: #2f303a;
    --button-color: #f5f4fa;
}
h1,
h2,
h3,
h4,
ul,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--primary-bg-color);
}

a {
    text-decoration: none;
}
/* Логотип */
a.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--logo-color);
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
}
.logo-color {
    color: var(--hower-color);
}
/* ЛОГОТИП ФУТЕР */
.logo-color-footer {
    color: var(--primary-bg-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
}
/* АДДРЕС ФУТЕР */
.footer-address {
    background-color: var(--bg-color);
}
/* ССЫЛКИ */
.link:hover,
.link:focus {
    color: var(--hower-color);
}
.link {
    color: var(--secondary-color);
    font-weight: 500;
    line-height: 1.14;
}
/* ССЫЛКА НА КАРТЫ В ФУТЕРЕ */
.link.address {
    font-style: normal;
    text-decoration: none;
    color: var(--white-color);
}
/* КОНТАКТЫ */
.contacts a:hover,
.contacts a:focus {
    color: var(--hower-color);
}
.contacts a {
    font-weight: 500;
    line-height: 1.14;
    color: var(--main-color);
}
.contacts.footer {
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}
.page-header {
    text-decoration: none;
}
/* .site-nav {
}
.navigation-links { 
}   */
.hero {
    color: var(--white-color);
    background-color: var(--bg-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white-color);
}
/* КНОПКИ */
.button.main {
    background-color: var(--hower-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    cursor: pointer;
}
.button:hover,
.button:focus {
    background: var(--hower-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--white-color);
}
.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background: var(--button-color);
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
/* НЕВИДИМЫЙ ТЕКСТ */
.benefits.hide {
    display: none;
}
.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benefits-title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--secondary-color);
}
.benefits-text {
    font-weight: 400;
    line-height: 1.71;
}
/* НАША КОМАНДА */
.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--secondary-color);
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--secondary-color);
    text-align: center;
}

.team-text {
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
}
/* ПРОЭКТЫ */
/* .projects {
} */
.projects-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--secondary-color);
}
.projects-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;

    color: var(--main-color);
}